
@model IEnumerable<CRM_Raviz.Models.EventTable>
<script src="/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<script>
    function updateSelectedRole(selectedRole) {
        document.getElementById('callingViewHiddenField').value = selectedRole;
    }
</script>
<style>

    .icons {
        transition-duration: 0.3s;
    }

        .icons:hover {
            transform: scale(1.2);
        }

        tr td{
    
            text-align: center;

        }
</style>

<div>
    @using (Html.BeginForm("RealEditAllocation", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td class="tableHead">Agent</td>
                <td class="tableHead">Date</td>
                <td class="tableHead">Call Type</td>
                <td class="tableHead">Dialed Number</td>
                <td class="tableHead">Email Used</td>
                <td class="tableHead">Disposition</td>
                <td class="tableHead">Subdisposition</td>
                <td class="tableHead">Callback</td>
                <td class="tableHead">Commments</td>

            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    @*<td>@Html.DisplayFor(modelItem => item.AccountNo, new { @class = "tablecont" })</td>
        <td>@Html.DisplayFor(modelItem => item.CustomerName, new { @class = "tablecont" })</td>
        <td>@Html.DisplayFor(modelItem => item.Datetime, new { @class = "tablecont" })</td>
        <td>@Html.DisplayFor(modelItem => item.Dispo, new { @class = "tablecont" })</td>
        <td>@Html.DisplayFor(modelItem => item.SubDispo, new { @class = "tablecont" })</td>
        <td>@Html.DisplayFor(modelItem => item.CallbackTime, new { @class = "tablecont" })</td>
        <td>@Html.DisplayFor(modelItem => item.Comments, new { @class = "tablecont" })</td>*@

                    <td>@Html.DisplayFor(modelItem => item.Agent, new { @class = "tablecont" })</td>
                    <td>@Html.DisplayFor(modelItem => item.Datetime, new { @class = "tablecont" })</td>
                    <td>@(item.CallType?.Substring(0, 1))</td>
                    <td>@Html.DisplayFor(modelItem => item.DialedNumber, new { @class = "tablecont" })</td>
                    <td>@Html.DisplayFor(modelItem => item.EmailUsed, new { @class = "tablecont" })</td>

                    <td>@Html.DisplayFor(modelItem => item.Dispo, new { @class = "tablecont" })</td>
                    <td>@Html.DisplayFor(modelItem => item.SubDispo, new { @class = "tablecont" })</td>
                    <td>
                        @{
                            DateTime defaultDateTime = new DateTime(2000, 1, 1, 0, 0, 0);
                            if (item.CallbackTime == defaultDateTime)
                            {
                                @:-
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.CallbackTime, new { @class = "tablecont" })
                            }
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Comments, new { @class = "tablecont" })</td>


                </tr>
            }


        </table>
    }
    </div>






