@model IEnumerable<CRM_Raviz.Models.RecordData>
@using CRM_Raviz.Models


@{
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $(".changeAgentButton").click(function () {
            var recordId = $(this).data("record-id");

            var dropdownValue = $("#dropdown").val();

            //alert(dropdownValue == "");

            if (dropdownValue == "") {

                // Show SweetAlert
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Agents is null !'
                });
                return false; // Exit function
            }


            $.ajax({
                url: '@Url.Action("changedAgent", "Home")',
                type: "POST",
                data: {
                    id: recordId,
                    Agent: $("#dropdown").val()
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    // Handle error
                }
            });
        });

    });
</script>
<script>
    function updateSelectedRole(selectedRole) {
        document.getElementById('callingViewHiddenField').value = selectedRole;
    }
</script>
<style>

    .icons {
        transition-duration: 0.3s;
    }

        .icons:hover {
            transform: scale(1.2);
        }

    .drops {
        white-space: nowrap;
    }

    .drop {
        text-decoration: none;
        border: none;
        background-color: #ffffff00;
        transition-duration: 0.3s;
        font-size: 14px;
    }



    .tableHead {
        white-space: nowrap;
        font-size: 18px;
    }




    .paste-button {
        position: relative;
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .button {
        background-color: white;
        color: #212121;
        padding: 5px 2.5px;
        font-size: 15px;
        font-weight: bold;
        border: 2px solid transparent;
        border-radius: 15px;
        cursor: pointer;
    }

    .dropdown-content {
        width: max-content;
        display: none;
        font-size: 13px;
        position: absolute;
        z-index: 1;
        border: 1px solid black;
        border-radius: 6px;
    }

        .dropdown-content a {
            width: 100%;
            display: block;
            transition: 0.1s;
        }

            .dropdown-content a:hover {
                background-color: #000000;
                color: white;
            }

            .dropdown-content a:focus {
                background-color: #727171;
                color: #000000;
            }

    .paste-button:hover .dropdown-content {
        display: block;
    }
</style>

<div>
    @using (Html.BeginForm("RealEditAllocation", "Home", FormMethod.Post))
    {
        <table style="display: flex; justify-content: center;">
            <tr>
                <td class="tableHead">Account no</td>
                <td class="tableHead">Customer Name</td>
                <td class="tableHead">O/S Balance</td>
                <td class="tableHead">Renewal Fee</td>
                <td class="tableHead">

                    <div class="paste-button">
                        Last Event
                        <button class="button drop" disabled>▼</button>
                        <div class="dropdown-content">
                            <h6 style="text-align: center;">Filter</h6>
                            <a id="top" href="#">Recent events</a>
                            <a id="middle" href="#">Old events</a>
                        </div>
                    </div>




                </td>
                <td class="tableHead">Batch</td>
                <td class="tableHead">Segment</td>
                <td class="tableHead">Actions</td>
                <td class="tableHead">Users</td>
                <td class="tableHead">Transfer</td>
                <td class="tableHead">Save</td>
            </tr>

            @{
                int counter = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.AccountNo, new { @class = "tablecont" })</td>
                        <td>@Html.DisplayFor(modelItem => item.CustomerName, new { @class = "tablecont" })</td>
                        <td>@Html.DisplayFor(modelItem => item.OS_Billing, new { @class = "tablecont" })</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpectedRenewalFee, new { @class = "tablecont" })</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedDate, new { @class = "tablecont" })</td>
                        <td>@Html.DisplayFor(modelItem => item.DerbyBatch, new { @class = "tablecont" })</td>
                        <td>@Html.DisplayFor(modelItem => item.Segments, new { @class = "tablecont" })</td>
                        @*<td>@Html.DisplayFor(modelItem => item.License_expiry.Split(' ')[0], new { @class = "tablecont" })</td>*@
                        <td>
                            @Html.HiddenFor(modelItem => item.Id)
                            <a href='@Url.Action("RealEditAllocation", "Home", new { id = item.Id, AccountNo = item.AccountNo })'>
                                <img src="~/Content/Images/edit1.png" style="width: 20px; height: 20px; cursor: pointer;" data-id='@item.Id' class="submitBtn icons" />
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Agent, new { @class = "tablecont" })</td>
                        <td>
                            @Html.DropDownList("FEList",
                              new SelectList(CRM_Raviz.Controllers.HomeController.GetAllUsers()), " ", new { @class = "box", id = "dropdown" })
                        </td>
                        <td>
                            <input type="button" style="width: 100%;" class="changeAgentButton" data-record-id="@item.Id" />
                        </td>

                    </tr>
                    counter++;
                }
            }
        </table>
    }
</div>



<div class="pagination">
    @if (currentPage > 1)
    {
        <a href="javascript:void(0);" onclick="loadRecords(@(currentPage - 1))">Previous</a>
    }

    Page @(currentPage) of @(totalPages)

    @if (currentPage < totalPages)
    {
        <a href="javascript:void(0);" onclick="loadRecords(@(currentPage + 1))">Next</a>
    }
</div>

<script>
    function loadRecords(page) {
        $.post('@Url.Action("_Records", "Home")', { query: '@Request.Form["query"]', page: page }, function (data) {
            $('#VerifyList').html(data);
        });
    }


    
</script>


