<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        .navbar {
            background-color: #082948;
            height: 80px;
        }

        .font {
            color: white;
        }

        .logo {
            position: fixed;
            left: -8%;
        }
    </style>

    <style>

        .btn {
            font-size: 15px;
            background: transparent;
            border: none;
            padding: 0.5em 1em;
            color: #ffffff;
            text-transform: uppercase;
            position: relative;
            transition: 0.5s ease;
            cursor: pointer;
            font-weight: 500;
        }

            .btn::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background-color: #ffffff;
                transition: 0.5s ease;
            }

            .btn:hover {
                color: #ffffff;
                transition-delay: 0.5s;
            }

                .btn:hover::before {
                    width: 100%;
                }

            .btn::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0;
                width: 100%;
                background-color: #ffffff;
                transition: 0.4s ease;
                z-index: -1;
            }

            .btn:hover::after {
                height: 100%;
                transition-delay: 0.4s;
                color: aliceblue;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            width: 120px;
            border-radius: 4px;
            white-space: nowrap;
        }

            .dropdown-content a:hover {
                background-color: #082948;
                color: white;
                font-weight: 500;
            }
    </style>
</head>

@*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link font" })</li>
    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link font" })</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link font" })</li>*@
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">

                <div class="logo">
                    Centered column
                    <img src="~/Content/Images/logo1.png" style="height: 45px;" class="img-fluid align-items-center" />
                </div>

                <ul class="navbar-nav flex-grow-1">
                    <li><button class="btn" onclick="redirectToHome()">Home</button></li>
                    <li class="dropdown">
                        <button class="btn">Reports</button>
                        <div class="dropdown-content">
                            <a href="#">CRM PPF</a>
                            <a href="#">Master Data</a>
                        </div>
                    </li>
                    <li><button class="btn" onclick="con()">Performance</button></li>
                    <li><button class="btn" onclick="redirectToEdit()">Edit Allocation</button></li>
                </ul>



                @Html.Partial("_LoginPartial")
            </div>
        </div>
       
    </nav>
    <div class="container body-content ">
        @RenderBody()

    </div>

    <script>
         function redirectToEdit() {
             window.location.href = '@Url.Action("EditAllocation", "Home")';
        }

        function redirectToHome() {
             window.location.href = '@Url.Action("Index", "Home")';
        }


    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
