<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

        .navbar {
            background-color: #082948;
            height: 80px;
        }

        .font {
            color: white;
        }

        .logo {
            position: sticky;
            left: 0;
        }
    </style>

    <style>

        .btn {
            font-size: 15px;
            background: transparent;
            border: none;
            padding: 0.5em 1em;
            color: #ffffff;
            text-transform: uppercase;
            position: relative;
            transition: 0.5s ease;
            cursor: pointer;
            font-weight: 500;
        }

            .btn::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background-color: #ffffff;
                transition: 0.5s ease;
            }

            .btn:hover {
                color: #ffffff;
                transition-delay: 0.5s;
            }

                .btn:hover::before {
                    width: 100%;
                }

            .btn::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 0;
                width: 100%;
                background-color: #ffffff;
                transition: 0.4s ease;
                z-index: -1;
            }

            .btn:hover::after {
                height: 100%;
                transition-delay: 0.4s;
                color: aliceblue;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            width: 120px;
            border-radius: 4px;
            white-space: nowrap;
        }

            .dropdown-content a:hover {
                background-color: #082948;
                color: white;
                font-weight: 500;
            }



        .form {
            --input-bg: #FFf;
            /*  background of input */
            --padding: 1.5em;
            --rotate: 80deg;
            /*  rotation degree of input*/
            --gap: 2em;
            /*  gap of items in input */
            --icon-change-color: #15A986;
            /*  when rotating changed icon color */
            --height: 32px;
            /*  height */
            width: 400px;
            padding-inline-end: 0em;
            /*  change this for padding in the end of input */
            background: var(--input-bg);
            position: relative;
            border-radius: 6px;
        }

            .form label {
                border: 1px solid #818181;
                display: flex;
                align-items: center;
                width: 100%;
                height: var(--height);
                border-radius: 6px;
            }

            .form input {
                width: 100%;
                padding-inline-start: calc(var(--padding) + var(--gap));
                outline: none;
                background: none;
                border: 0;
            }
            /* style for both icons -- search,close */
            .form svg {
                /* display: block; */
                color: #111;
                transition: 0.3s cubic-bezier(.4,0,.2,1);
                position: absolute;
                height: 15px;
            }
        /* search icon */
        .icon {
            position: absolute;
            left: var(--padding);
            transition: 0.3s cubic-bezier(.4,0,.2,1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* arrow-icon*/
        .swap-off {
            transform: rotate(-80deg);
            opacity: 0;
            visibility: hidden;
        }
        /* close button */
        .close-btn {
            /* removing default bg of button */
            background: none;
            border: none;
            right: calc(var(--padding) - var(--gap));
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #111;
            padding: 0.1em;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transition: 0.3s;
            opacity: 0;
            transform: scale(0);
            visibility: hidden;
        }

        .form input:focus ~ .icon {
            transform: rotate(var(--rotate)) scale(1.3);
        }

            .form input:focus ~ .icon .swap-off {
                opacity: 1;
                transform: rotate(-80deg);
                visibility: visible;
                color: var(--icon-change-color);
            }

            .form input:focus ~ .icon .swap-on {
                opacity: 0;
                visibility: visible;
            }

        .form input:valid ~ .icon {
            transform: scale(1.3) rotate(var(--rotate))
        }

            .form input:valid ~ .icon .swap-off {
                opacity: 1;
                visibility: visible;
                color: var(--icon-change-color);
            }

            .form input:valid ~ .icon .swap-on {
                opacity: 0;
                visibility: visible;
            }

        .form input:valid ~ .close-btn {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transition: 0s;
        }
    </style>

    @*<script type="text/javascript">

      $(document).ready(function ()
      {
          searchCases();
          $("#btnsubmit").on("click", function (e)
          {
              searchCases();
          });

          $("#searchInput").keypress(function (e) {
              if (e.which === 13) {
                  e.preventDefault();
                  searchCases();
                  searchCases2();
              }
          });

      })



      function searchCases() {
          console.log("Button clicked");
          var query = $("#searchInput").val();
          var url = '@Url.Action("_Records", "Home")';
          url = url.replace("_query_", query);
          console.log(url);
         /* alert(query)*/
          $.ajax({
              url: url,
              data: { query: query },
              type: "Post",
              success: function (result) {

                  $("#VerifyList").html(result);
              },
              error: function (e) {
                  alert("Error fetching search results");
              }
          });
      }
      function searchCases2() {
          console.log("Button clicked");
          var query = $("#searchInput").val();
          var url = '@Url.Action("_History", "Home")';
          url = url.replace("_query_", query);
          console.log(url);
         /* alert(query)*/
          $.ajax({
              url: url,
              data: { query: query },
              type: "Post",
              success: function (result) {

                  $("#History").html(result);
              },
              error: function (e) {
                  alert("Error fetching search results");
              }
          });
      }

    </script>*@
</head>

@*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link font" })</li>
    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link font" })</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link font" })</li>*@
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">

                <div class="logo">
                    <img src="~/Content/Images/logo1.png" style="height: 45px;" class="img-fluid align-items-center" />
                </div>

                <ul class="navbar-nav flex-grow-1">
                    <li><button class="btn" onclick="redirectToHome()">Home</button></li>
                    <li class="dropdown">
                        <button class="btn">Reports</button>
                        <div class="dropdown-content">
                            <a href="@Url.Action("CRMPPF", "Home")">CRM PPF</a>
                            <a href="@Url.Action("MasterReport", "Home")">Master Data</a
                        </div>
                    </li>
                    <li><button class="btn" onclick="redirectToUpload()">Upload Cases</button></li>
                    <li><button class="btn" onclick="redirectToEdit()">Edit Allocation</button></li>
                </ul>

                @*<div class="search" style="display: flex; justify-content: center;">
                    <form class="form">
                        <label for="search">
                            <input required="" autocomplete="off" placeholder="Search..." id="search" type="text">
                            <div class="icon">
                                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round" stroke-linecap="round"></path>
                                </svg>
                                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                    <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round"></path>
                                </svg>
                            </div>
                            <button type="reset" class="close-btn">
                                <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                    <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
                                </svg>
                            </button>
                        </label>
                    </form>
                </div>*@


                @Html.Partial("_LoginPartial")
            </div>
        </div>
       
    </nav>
    <div class="container body-content ">
        @RenderBody()

    </div>

    <script>
         function redirectToEdit() {
             window.location.href = '@Url.Action("EditAllocation", "Home")';
        }

        function redirectToHome() {
             window.location.href = '@Url.Action("Index", "Home")';
        }

         function redirectToUpload() {
             window.location.href = '@Url.Action("UploadCases", "Home")';
        }


    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
